*
{
    margin:0;
    padding:0;

}
body
{
    background:palevioletred; 
    font-size: 17px;
 }
img{
    width: 270px;
    padding: 3px;
    border:4px solid red;
    background-color: black;
    display: inline-block;
}
